{% load static %}<!DOCTYPE html>
<html>
  <head>
      <style>
      .button {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 16px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
        }

        .button2 {
          background-color: white;
          color: black;
          border: 2px solid #042329;
        }

        .button2:hover {
          background-color: #042329;
          color: white;
        }
      </style>
    <meta charset="utf-8">
    <title>{% block title %}Water Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700|Roboto:300,400,700&display=swap"
      rel="stylesheet">
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


    <link href="{%static 'css/style.css' %}" rel="stylesheet">
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{%static 'vendor/easing/easing.min.js' %}"></script>
    <script src="{%static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{%static 'vendor/sticky/sticky.js' %}"></script>
    <script src="{%static 'vendor/aos/aos.js' %}"></script>
    <script src="{%static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
	<script src="{%static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{%static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{%static 'vendor/select2/select2.min.js' %}"></script>
	<script src="{%static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{%static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{%static 'vendor/countdowntime/countdowntime.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
